<a href="https://colab.research.google.com/github/sttesta3/7506R-1C2024-GRUPO08/blob/santiago/Pandas_TP_01_Filtrado.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
 import pandas as pd

In [ ]:
df =pd.read_csv('./datasets/properati_argentina_2021.csv')
df.shape
#registros: 460154 , columnas 20

(460154, 20)

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 460154 entries, 0 to 460153
Data columns (total 20 columns):
 #   Column                    Non-Null Count   Dtype
---  ------                    --------------   -----
 0   id                        460154 non-null  object
 1   start_date                460154 non-null  object
 2   end_date                  460154 non-null  object
 3   created_on                460154 non-null  object
 4   latitud                   419740 non-null  float64
 5   longitud                  419740 non-null  float64
 6   place_l2                  460154 non-null  object
 7   place_l3                  437665 non-null  object
 8   place_l4                  139020 non-null  object
 9   place_l5                  2430 non-null    object
 10  place_l6                  0 non-null       float64
 11  operation                 460154 non-null  object
 12  property_type             460154 non-null  object
 13  property_rooms            368498 non-null  float64
 14  property_bedrooms         344113 non-null  float64
 15  property_surface_total    397813 non-null  float64
 16  property_surface_covered  427916 non-null  float64
 17  property_price            442153 non-null  float64
 18  property_currency         441590 non-null  object
 19  property_title            460154 non-null  object
dtypes: float64(8), object(12)
memory usage: 70.2+ MB

In [ ]:
#     registros:               460154 , columnas 20
'''<class 'pandas.core.frame.DataFrame'>
RangeIndex: 460154 entries, 0 to 460153
Data columns (total 20 columns):
 #   Column                    Non-Null Count   Dtype
---  ------                    --------------   -----
 0   id                        460154 non-null  object
 1   start_date                460154 non-null  object  fecha ini             #time
 2   end_date                  460154 non-null  object  fecha fin             #time
 3   created_on                460154 non-null  object  fecha creacion        #time
 4   latitud                   419740 non-null  float64
 5   longitud                  419740 non-null  float64
 6   place_l2                  460154 non-null  object  localidad barrio
 7   place_l3                  437665 non-null  object  localidad barrio
 8   place_l4                  139020 non-null  object  localidad barrio
 9   place_l5                  2430 non-null    object  localidad barrio
 10  place_l6                  0 non-null       float64 localidad barrio
 11  operation                 460154 non-null  object  venta,,,,             #category
 12  property_type             460154 non-null  object  casa,departamento,,,, #category
 13  property_rooms            368498 non-null  float64 ambientes
 14  property_bedrooms         344113 non-null  float64 dormitorio
 15  property_surface_total    397813 non-null  float64 superficie total
 16  property_surface_covered  427916 non-null  float64 superficie cubierta(construida)
 17  property_price            442153 non-null  float64 precio
 18  property_currency         441590 non-null  object  moneda: USD, PESO       #category
 19  property_title            460154 non-null  object  titulo (titulo publicado en redes)
dtypes: float64(8), object(12)
memory usage: 70.2+ MB '''

"<class 'pandas.core.frame.DataFrame'>\nRangeIndex: 460154 entries, 0 to 460153\nData columns (total 20 columns):\n #   Column                    Non-Null Count   Dtype\n---  ------                    --------------   -----\n 0   id                        460154 non-null  object\n 1   start_date                460154 non-null  object  fecha ini             #time\n 2   end_date                  460154 non-null  object  fecha fin             #time\n 3   created_on                460154 non-null  object  fecha creacion        #time\n 4   latitud                   419740 non-null  float64\n 5   longitud                  419740 non-null  float64\n 6   place_l2                  460154 non-null  object  localidad barrio\n 7   place_l3                  437665 non-null  object  localidad barrio\n 8   place_l4                  139020 non-null  object  localidad barrio\n 9   place_l5                  2430 non-null    object  localidad barrio\n 10  place_l6                  0 non-null       float64 localidad barrio\n 11  operation                 460154 non-null  object  venta,,,,             #category\n 12  property_type             460154 non-null  object  casa,departamento,,,, #category\n 13  property_rooms            368498 non-null  float64 ambientes\n 14  property_bedrooms         344113 non-null  float64 dormitorio\n 15  property_surface_total    397813 non-null  float64 superficie total\n 16  property_surface_covered  427916 non-null  float64 superficie cubierta(construida)\n 17  property_price            442153 non-null  float64 precio\n 18  property_currency         441590 non-null  object  moneda: USD, PESO       #category\n 19  property_title            460154 non-null  object  titulo (titulo publicado en redes)\ndtypes: float64(8), object(12)\nmemory usage: 70.2+ MB "

In [ ]:
df

,id,start_date,end_date,created_on,latitud,longitud,place_l2,place_l3,place_l4,place_l5,place_l6,operation,property_type,property_rooms,property_bedrooms,property_surface_total,property_surface_covered,property_price,property_currency,property_title
0,XZq2dFGxBiboHY3Bo/tqlw==,2021-09-09,2022-01-27,2021-09-09,-38.957632,-68.105443,Neuquén,NaN,NaN,NaN,NaN,Venta,Casa,6.0,NaN,NaN,206.0,NaN,NaN,Casa - Capital
1,8afoK+yMH/rnnlYiktwgNA==,2021-09-09,2021-10-23,2021-09-09,-34.888878,-56.092368,Montevideo,NaN,NaN,NaN,NaN,Venta,Casa,4.0,3.0,193.0,193.0,390000.0,USD,Casa - Malvín
2,iVaG5rBB47dd1Ya4BMXREA==,2021-09-09,2022-03-09,2021-09-09,-32.488717,-58.257499,Entre Ríos,NaN,NaN,NaN,NaN,Venta,Casa,NaN,NaN,110.0,45.0,47000.0,USD,Casa - Uruguay
3,QE1QVMWKAHWkd0qT0FtPWA==,2021-09-09,2022-01-27,2021-09-09,-34.900165,-54.808453,Maldonado,NaN,NaN,NaN,NaN,Venta,Casa,NaN,3.0,NaN,180.0,400000.0,USD,Casa - El Chorro
4,tJ5lSk7IysG/71OGhacNZA==,2021-09-09,2022-01-27,2021-09-09,-38.954528,-68.041862,Neuquén,NaN,NaN,NaN,NaN,Venta,PH,3.0,2.0,NaN,98.0,102000.0,USD,PH - Villa Farrell
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
460149,EWHC/xcODFkeEA0+pPE6Rw==,2021-01-05,2021-01-08,2021-01-05,-34.599594,-58.588715,Bs.As. G.B.A. Zona Oeste,Tres de Febrero,NaN,NaN,NaN,Venta,Local comercial,NaN,NaN,113.0,113.0,190000.0,USD,LOCAL COMERCIAL MAS DE 100 MTS. - Ciudad jardín-
460150,txKUq0LjMaORjJQeeqTOfw==,2021-01-05,2021-11-01,2021-01-05,-34.582777,-58.545220,Bs.As. G.B.A. Zona Norte,General San Martín,Villa Lynch,NaN,NaN,Venta,Local comercial,NaN,NaN,11580.0,11580.0,3500000.0,USD,Nave Industrial - Villa Lynch
460151,E0zwHT18DX8AxhU22hXgng==,2021-01-05,2021-03-01,2021-01-05,NaN,NaN,Bs.As. G.B.A. Zona Norte,General San Martín,NaN,NaN,NaN,Venta,Local comercial,NaN,NaN,915.0,915.0,800000.0,USD,importante edificio comercial en tres plantas ...
460152,Ec4Tvy/WX5f6RgfaJf2FHQ==,2021-01-05,2021-11-28,2021-01-05,-33.226234,-60.331848,Santa Fe,Villa Constitución,NaN,NaN,NaN,Alquiler,Local comercial,NaN,NaN,NaN,15.0,NaN,NaN,Local - Villa Constitucion
460153,Y7KBafQ+e5noGh2Pio0xLg==,2021-01-05,9999-12-31,2021-01-05,-26.827938,-65.220708,Tucumán,San Miguel de Tucumán,NaN,NaN,NaN,Venta,Local comercial,1.0,NaN,243.0,133.0,160000.0,USD,Local - San Miguel De Tucumán

In [ ]:
#columna Place_16 se elimina, contenido total NaN
#se ejecuta 1 sola vez bien
df.drop(columns ='place_l6', inplace=True)

In [ ]:
df.shape

(460154, 19)

In [ ]:
#convertir las columnas a sus tipo de datos
#convertir las fechas
df['start_date'] = pd.to_datetime(df['start_date'], errors = 'coerce')
df['end_date'] = pd.to_datetime(df['end_date'], errors = 'coerce')
df['created_on'] = pd.to_datetime(df['created_on'], errors = 'coerce')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 460154 entries, 0 to 460153
Data columns (total 19 columns):
 #   Column                    Non-Null Count   Dtype
---  ------                    --------------   -----
 0   id                        460154 non-null  object
 1   start_date                460154 non-null  datetime64[ns]
 2   end_date                  432807 non-null  datetime64[ns]
 3   created_on                460154 non-null  datetime64[ns]
 4   latitud                   419740 non-null  float64
 5   longitud                  419740 non-null  float64
 6   place_l2                  460154 non-null  object
 7   place_l3                  437665 non-null  object
 8   place_l4                  139020 non-null  object
 9   place_l5                  2430 non-null    object
 10  operation                 460154 non-null  object
 11  property_type             460154 non-null  object
 12  property_rooms            368498 non-null  float64
 13  property_bedrooms         344113 non-null  float64
 14  property_surface_total    397813 non-null  float64
 15  property_surface_covered  427916 non-null  float64
 16  property_price            442153 non-null  float64
 17  property_currency         441590 non-null  object
 18  property_title            460154 non-null  object
dtypes: datetime64[ns](3), float64(7), object(9)
memory usage: 66.7+ MB

In [ ]:
#si la columna   'operation'(Venta,Alquiler,Alquiler temporal)   tiene NaN
df.operation.isnull().sum()

0

In [ ]:
#tiene 3 categorias
'''
operation
Venta                337874
Alquiler              98900
Alquiler temporal     23380
Name: count, dtype: int64 '''

df.operation.value_counts()

operation
Venta                337874
Alquiler              98900
Alquiler temporal     23380
Name: count, dtype: int64

In [ ]:
#operation lo paso a Dtype Category
df.operation = pd.Categorical(df.operation)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 460154 entries, 0 to 460153
Data columns (total 19 columns):
 #   Column                    Non-Null Count   Dtype
---  ------                    --------------   -----
 0   id                        460154 non-null  object
 1   start_date                460154 non-null  datetime64[ns]
 2   end_date                  432807 non-null  datetime64[ns]
 3   created_on                460154 non-null  datetime64[ns]
 4   latitud                   419740 non-null  float64
 5   longitud                  419740 non-null  float64
 6   place_l2                  460154 non-null  object
 7   place_l3                  437665 non-null  object
 8   place_l4                  139020 non-null  object
 9   place_l5                  2430 non-null    object
 10  operation                 460154 non-null  category
 11  property_type             460154 non-null  object
 12  property_rooms            368498 non-null  float64
 13  property_bedrooms         344113 non-null  float64
 14  property_surface_total    397813 non-null  float64
 15  property_surface_covered  427916 non-null  float64
 16  property_price            442153 non-null  float64
 17  property_currency         441590 non-null  object
 18  property_title            460154 non-null  object
dtypes: category(1), datetime64[ns](3), float64(7), object(8)
memory usage: 63.6+ MB

In [ ]:
#si la columna   'property_type'(tipo: casa,ph,dep,,,)   tiene NaN
df.property_type.isnull().sum()

0

In [ ]:
df.property_type.value_counts()

property_type
Departamento       231358
Casa               120768
Lote                28748
PH                  25910
Local comercial     20546
Oficina             16085
Otro                 7713
Cochera              4111
Depósito             4050
Casa de campo         865
Name: count, dtype: int64

In [ ]:
#property_type lo paso a Dtype Category
df.property_type = pd.Categorical(df.property_type)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 460154 entries, 0 to 460153
Data columns (total 19 columns):
 #   Column                    Non-Null Count   Dtype
---  ------                    --------------   -----
 0   id                        460154 non-null  object
 1   start_date                460154 non-null  datetime64[ns]
 2   end_date                  432807 non-null  datetime64[ns]
 3   created_on                460154 non-null  datetime64[ns]
 4   latitud                   419740 non-null  float64
 5   longitud                  419740 non-null  float64
 6   place_l2                  460154 non-null  object
 7   place_l3                  437665 non-null  object
 8   place_l4                  139020 non-null  object
 9   place_l5                  2430 non-null    object
 10  operation                 460154 non-null  category
 11  property_type             460154 non-null  category
 12  property_rooms            368498 non-null  float64
 13  property_bedrooms         344113 non-null  float64
 14  property_surface_total    397813 non-null  float64
 15  property_surface_covered  427916 non-null  float64
 16  property_price            442153 non-null  float64
 17  property_currency         441590 non-null  object
 18  property_title            460154 non-null  object
dtypes: category(2), datetime64[ns](3), float64(7), object(7)
memory usage: 60.6+ MB

In [ ]:
#si la columna   'property_currency'(moneda)   tiene NaN
df.property_currency.isnull().sum()

18564

In [ ]:
#A los NaN los coloco en la categoria SinDefinir
df['property_currency'].fillna('SinDefinir', inplace=True)
'''ejecutar antes de categorizar, parapoder cambiar los NaN'''

'ejecutar antes de categorizar, parapoder cambiar los NaN'

In [ ]:
#la suma de categorias= 441590 + los NaN=18564  = 460154 registros, q son el total de inicio
df.property_currency.value_counts()

property_currency
USD           349104
ARS            88869
SinDefinir     18564
UYU             3506
PEN               99
COP               12
Name: count, dtype: int64

In [ ]:
#property_type lo paso a Dtype Category
df.property_currency = pd.Categorical(df.property_currency)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 460154 entries, 0 to 460153
Data columns (total 19 columns):
 #   Column                    Non-Null Count   Dtype
---  ------                    --------------   -----
 0   id                        460154 non-null  object
 1   start_date                460154 non-null  datetime64[ns]
 2   end_date                  432807 non-null  datetime64[ns]
 3   created_on                460154 non-null  datetime64[ns]
 4   latitud                   419740 non-null  float64
 5   longitud                  419740 non-null  float64
 6   place_l2                  460154 non-null  object
 7   place_l3                  437665 non-null  object
 8   place_l4                  139020 non-null  object
 9   place_l5                  2430 non-null    object
 10  operation                 460154 non-null  category
 11  property_type             460154 non-null  category
 12  property_rooms            368498 non-null  float64
 13  property_bedrooms         344113 non-null  float64
 14  property_surface_total    397813 non-null  float64
 15  property_surface_covered  427916 non-null  float64
 16  property_price            442153 non-null  float64
 17  property_currency         460154 non-null  category
 18  property_title            460154 non-null  object
dtypes: category(3), datetime64[ns](3), float64(7), object(6)
memory usage: 57.5+ MB

In [ ]:
#si la columna   'place_l2' (Provincia)   tiene NaN ?
df.place_l2.isnull().sum()

0

In [ ]:
df.place_l2.value_counts()

place_l2
Capital Federal                 157563
Bs.As. G.B.A. Zona Norte         89693
Santa Fe                         47861
Bs.As. G.B.A. Zona Sur           47754
Bs.As. G.B.A. Zona Oeste         28352
Córdoba                          22528
Buenos Aires Costa Atlántica     12457
Neuquén                           8788
Montevideo                        7494
Buenos Aires Interior             6274
Maldonado                         5540
Mendoza                           5395
Río Negro                         5280
Tucumán                           3571
Colonia                           2535
Salta                             1537
Entre Ríos                        1216
San Juan                           997
La Pampa                           783
Canelones                          744
Chubut                             701
San Luis                           677
Misiones                           529
Florida                            411
Jujuy                              406
Corrientes                         297
Michigan                           251
Chaco                              208
Rocha                               85
Tierra Del Fuego                    75
Santiago Del Estero                 59
Santa Catarina                      35
Santa Cruz                          16
Rio Grande do Norte                  9
Maryland                             8
Catamarca                            7
Miami                                4
La Rioja                             4
Rio de Janeiro                       3
Pennsylvania                         3
Formosa                              2
São Paulo                            1
California                           1
Name: count, dtype: int64

In [ ]:
#place_l2 lo paso a Dtype Category
df.place_l2 = pd.Categorical(df.place_l2)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 460154 entries, 0 to 460153
Data columns (total 19 columns):
 #   Column                    Non-Null Count   Dtype
---  ------                    --------------   -----
 0   id                        460154 non-null  object
 1   start_date                460154 non-null  datetime64[ns]
 2   end_date                  432807 non-null  datetime64[ns]
 3   created_on                460154 non-null  datetime64[ns]
 4   latitud                   419740 non-null  float64
 5   longitud                  419740 non-null  float64
 6   place_l2                  460154 non-null  category
 7   place_l3                  437665 non-null  object
 8   place_l4                  139020 non-null  object
 9   place_l5                  2430 non-null    object
 10  operation                 460154 non-null  category
 11  property_type             460154 non-null  category
 12  property_rooms            368498 non-null  float64
 13  property_bedrooms         344113 non-null  float64
 14  property_surface_total    397813 non-null  float64
 15  property_surface_covered  427916 non-null  float64
 16  property_price            442153 non-null  float64
 17  property_currency         460154 non-null  category
 18  property_title            460154 non-null  object
dtypes: category(4), datetime64[ns](3), float64(7), object(5)
memory usage: 54.4+ MB

In [ ]:
df_filter = df

Ya tengo categorizado y ordenado las columnas, para generar df_filter por:

*   ventas
*   Moneda USD
*   Casa, PH, Departamento
*   Ubicados en CABA
*   Analizar registros descartados, los semejantes al DF: df_filter

In [ ]:
#observo para filtrar primero por la columna que tenia 0 NaN y que tenga mas categorias
# 1ro filtro por 'property_type'    [10 categorias]
# 2do por 'operation'               [3 categoria]
# 3ro por 'property_currency' y analiso que precios SinDefinir son validos(USD)  [5 categorias + 1 agregada]
# 4to Ubicados en CABA

In [ ]:
df_filter.property_type.value_counts()

property_type
Departamento       231358
Casa               120768
Lote                28748
PH                  25910
Local comercial     20546
Oficina             16085
Otro                 7713
Cochera              4111
Depósito             4050
Casa de campo         865
Name: count, dtype: int64

In [ ]:
df_filter.operation.value_counts()

operation
Venta                337874
Alquiler              98900
Alquiler temporal     23380
Name: count, dtype: int64

In [ ]:
df_filter.property_currency.value_counts()

property_currency
USD           349104
ARS            88869
SinDefinir     18564
UYU             3506
PEN               99
COP               12
Name: count, dtype: int64

In [ ]:
df_filter.place_l2.value_counts()

place_l2
Capital Federal                 157563
Bs.As. G.B.A. Zona Norte         89693
Santa Fe                         47861
Bs.As. G.B.A. Zona Sur           47754
Bs.As. G.B.A. Zona Oeste         28352
Córdoba                          22528
Buenos Aires Costa Atlántica     12457
Neuquén                           8788
Montevideo                        7494
Buenos Aires Interior             6274
Maldonado                         5540
Mendoza                           5395
Río Negro                         5280
Tucumán                           3571
Colonia                           2535
Salta                             1537
Entre Ríos                        1216
San Juan                           997
La Pampa                           783
Canelones                          744
Chubut                             701
San Luis                           677
Misiones                           529
Florida                            411
Jujuy                              406
Corrientes                         297
Michigan                           251
Chaco                              208
Rocha                               85
Tierra Del Fuego                    75
Santiago Del Estero                 59
Santa Catarina                      35
Santa Cruz                          16
Rio Grande do Norte                  9
Maryland                             8
Catamarca                            7
Miami                                4
La Rioja                             4
Rio de Janeiro                       3
Pennsylvania                         3
Formosa                              2
California                           1
São Paulo                            1
Name: count, dtype: int64

In [ ]:
#filtro 1, obtengo registros Departamentos, Casa, PH
df_filter_property_type = df_filter['property_type'].isin(['Departamento','Casa','PH'])
df_filter_property_type

0          True
1          True
2          True
3          True
4          True
          ...
460149    False
460150    False
460151    False
460152    False
460153    False
Name: property_type, Length: 460154, dtype: bool

In [ ]:
df_filter = df_filter[df_filter_property_type]
df_filter.shape

(378036, 19)

In [ ]:
#filtro 2, obtengo registros Venta
df_filter_operation = df_filter['operation']=='Venta'
df_filter_operation

0         True
1         True
2         True
3         True
4         True
          ...
460092    True
460093    True
460094    True
460095    True
460096    True
Name: operation, Length: 378036, dtype: bool

In [ ]:
df_filter = df_filter[df_filter_operation]
df_filter.shape

(281399, 19)

In [ ]:
# eliminamos la columna operation, por que filtramos y son todas operaciones de VENTAS
df_filter.drop(columns ='operation', inplace=True)

<ipython-input-348-85a88ea003af>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_filter.drop(columns ='operation', inplace=True)

In [ ]:
df_filter.property_currency.isnull().sum()

0

In [ ]:

df_filter.property_currency.value_counts()

property_currency
USD           267483
SinDefinir     10476
ARS             3368
PEN               52
COP               10
UYU               10
Name: count, dtype: int64

In [ ]:
#filtro 3, obtengo registros USD , no me quedo registros en SinDefinir.
df_filter_property_currency = df_filter['property_currency'].isin(['USD','SinDefinir'])
df_filter_property_currency

0          True
1          True
2          True
3          True
4          True
          ...
460092    False
460093     True
460094    False
460095     True
460096     True
Name: property_currency, Length: 281399, dtype: bool

In [ ]:
df_filter = df_filter[df_filter_property_currency]
df_filter.shape

(277959, 18)

In [ ]:
df_filter.info()

<class 'pandas.core.frame.DataFrame'>
Index: 277959 entries, 0 to 460096
Data columns (total 18 columns):
 #   Column                    Non-Null Count   Dtype
---  ------                    --------------   -----
 0   id                        277959 non-null  object
 1   start_date                277959 non-null  datetime64[ns]
 2   end_date                  256941 non-null  datetime64[ns]
 3   created_on                277959 non-null  datetime64[ns]
 4   latitud                   254166 non-null  float64
 5   longitud                  254166 non-null  float64
 6   place_l2                  277959 non-null  category
 7   place_l3                  266868 non-null  object
 8   place_l4                  85967 non-null   object
 9   place_l5                  1363 non-null    object
 10  property_type             277959 non-null  category
 11  property_rooms            258691 non-null  float64
 12  property_bedrooms         249915 non-null  float64
 13  property_surface_total    243309 non-null  float64
 14  property_surface_covered  266349 non-null  float64
 15  property_price            267834 non-null  float64
 16  property_currency         277959 non-null  category
 17  property_title            277959 non-null  object
dtypes: category(3), datetime64[ns](3), float64(7), object(5)
memory usage: 34.7+ MB

In [ ]:
#filtro 4, obtengo registros 'Capital Federal'
df_filter_caba = df_filter['place_l2'] == 'Capital Federal'
df_filter_caba

0         False
1         False
2         False
3         False
4         False
          ...
460088    False
460090     True
460093    False
460095    False
460096    False
Name: place_l2, Length: 277959, dtype: bool

In [ ]:
df_filter = df_filter[df_filter_caba]
df_filter.shape

(95495, 18)

In [ ]:
df_filter.place_l2.value_counts()

place_l2
Capital Federal                 95495
Bs.As. G.B.A. Zona Norte            0
Río Negro                           0
Michigan                            0
Misiones                            0
Montevideo                          0
Neuquén                             0
Pennsylvania                        0
Rio Grande do Norte                 0
Rio de Janeiro                      0
Rocha                               0
Salta                               0
Mendoza                             0
San Juan                            0
San Luis                            0
Santa Catarina                      0
Santa Cruz                          0
Santa Fe                            0
Santiago Del Estero                 0
São Paulo                           0
Tierra Del Fuego                    0
Miami                               0
Maryland                            0
Bs.As. G.B.A. Zona Oeste            0
Maldonado                           0
Bs.As. G.B.A. Zona Sur              0
Buenos Aires Costa Atlántica        0
Buenos Aires Interior               0
California                          0
Canelones                           0
Catamarca                           0
Chaco                               0
Chubut                              0
Colonia                             0
Corrientes                          0
Córdoba                             0
Entre Ríos                          0
Florida                             0
Formosa                             0
Jujuy                               0
La Pampa                            0
La Rioja                            0
Tucumán                             0
Name: count, dtype: int64

In [ ]:
# Tengo 95495 registros
df_filter.shape

(95495, 18)

In [ ]:
# Tengo 95495 registros , 435 NaN , 95060 con Contenido
df_filter.place_l3.isnull().sum()

435

In [ ]:
# Tengo 95495 registros , 91770 NaN , 3725 con Contenido
df_filter.place_l4.isnull().sum()

91770

In [ ]:
# Tengo 95495 registros , 95495 NaN , 0 con Contenido
# Se puede eliminar
df_filter.place_l5.isnull().sum()

95495

In [ ]:
df_filter.place_l5.value_counts()

Series([], Name: count, dtype: int64)

In [ ]:
# Se podría eliminar la columna 'place_l2' por que todos son Capital Federal.
# Se podría eliminar la columna 'place_l5' los registros que quedaron son todos NaN
#se ejecuta 1 sola vez bien
df_filter.drop(columns ='place_l2', inplace=True)
df_filter.drop(columns ='place_l5', inplace=True)

In [ ]:
df_filter.shape
# registros 95495, columnas 16

(95495, 16)

In [ ]:
# Exportar DataFrame Filtrado
df_filter
# 95495 rows × 16 columns

,id,start_date,end_date,created_on,latitud,longitud,place_l3,place_l4,property_type,property_rooms,property_bedrooms,property_surface_total,property_surface_covered,property_price,property_currency,property_title
25,CyZu6IaZgmQYGk8jmPajCg==,2021-09-09,2021-09-26,2021-09-09,NaN,NaN,NaN,NaN,Casa,4.0,3.0,171.0,133.0,210000.0,USD,VENTA CASA LLAVE EN MANO - COSTA ESMERALDA
42,d3Z0MblSb2IMBoOBMGJEEQ==,2021-09-09,2021-09-26,2021-09-09,-34.637319,-58.361124,Boca,NaN,Departamento,3.0,2.0,58.0,55.0,82900.0,USD,VENTA TRES AMBIENTES LA BOCA PISO ALTO
43,rL7qPkQnomsMGu2ViS3sBw==,2021-09-09,2021-09-28,2021-09-09,-34.628647,-58.361871,Boca,NaN,Departamento,4.0,3.0,70.0,70.0,99000.0,USD,Departamento - 4 Ambientes - Catalinas Sur
44,IfZHM0GX583/RU9QQb8Orw==,2021-09-09,2022-03-09,2021-09-09,-34.599506,-58.404138,Once,NaN,Departamento,2.0,1.0,43.0,43.0,NaN,SinDefinir,Av Puyrredon al 924
49,vuX/ccLAMVml4qWRFcOJUA==,2021-09-09,2022-01-05,2021-09-09,-34.610027,-58.401934,Once,NaN,Departamento,4.0,2.0,NaN,104.0,146000.0,USD,Venta departamento 4 ambientes Once
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
460072,v4f5Un9jO7hsD02MWLkKBQ==,2021-01-05,2022-09-02,2021-01-05,-34.603245,-58.489810,Villa del Parque,NaN,Departamento,4.0,3.0,130.0,100.0,220000.0,USD,Espectacular 4 amb130m2 con Balcon Terraza!!!
460073,Aq/Z+XyS8FHbOOxed4xtTw==,2021-01-05,2021-02-17,2021-01-05,-34.614063,-58.482814,Villa del Parque,NaN,Departamento,3.0,2.0,68.0,60.0,161000.0,USD,3 ambientes con cochera listo para habitar!
460074,Rmamz8v4Wkh5xF7PA59Jqw==,2021-01-05,2021-01-27,2021-01-05,-34.614175,-58.479062,Villa del Parque,NaN,Departamento,1.0,1.0,51.0,30.0,75500.0,USD,VENTA MONOAMBIENTE CON PATIO SOL DE MAÑANA ///...
460075,7yl8Dfx5wobH21YdMU+Kgg==,2021-01-05,2021-01-27,2021-01-05,-34.614175,-58.479062,Villa del Parque,NaN,Departamento,1.0,1.0,37.0,31.0,74500.0,USD,VENTA MONOAMBIENTE APAISADO y DIVISIBLE AL CF ...
460090,9OVDfhoDvkY4rr/SX0ggVw==,2021-01-05,2021-01-08,2021-01-05,-34.599790,-58.373411,Centro / Microcentro,NaN,Departamento,2.0,1.0,84.0,84.0,135000.0,USD,VENTA DEPTO 2 1/2 AMBIENTES - CENTRO

In [ ]:
#guardo el DF filtrado
df_filter.to_csv('./datasets/prop_arg_2021_filtrado.csv',index=False)

In [ ]:
# dividir 80 20
from sklearn.model_selection import train_test_split

columnas_modelo = df_filter.columns.tolist()
columnas_modelo.remove('property_price')

ds_trabajo_x = df_filter[columnas_modelo].copy()
ds_trabajo_y = df_filter['property_price'].copy()

x_train, x_test, y_train, y_test = train_test_split(ds_trabajo_x, ds_trabajo_y, test_size=0.2 , random_state=2)

In [ ]:
y_train

103918    116500.0
30346     145000.0
147758    230000.0
85349     105000.0
194658    109000.0
            ...
409097    115000.0
147381    285000.0
214143    129000.0
350945    110000.0
433701    980000.0
Name: property_price, Length: 76396, dtype: float64

In [ ]:
y_test

393103    252900.0
275566    120000.0
85393     135000.0
183383     84900.0
266524     78500.0
            ...
323914    159000.0
357630    275000.0
311585     95000.0
143596     97000.0
256151    400000.0
Name: property_price, Length: 19099, dtype: float64

In [ ]:
#guardo el DF de X ENTRENAMIENTO 80%
x_train.to_csv('./datasets/x_columnas_entrenamiento.csv',index=False)

In [ ]:
#guardo el DF de Y ENTRENAMIENTO 80%
y_train.to_csv('./datasets/y_precios_entrenamiento.csv',index=False)

In [ ]:
#guardo el DF de X TEST 20%
x_test.to_csv('./datasets/x_columnas_test.csv',index=False)

In [ ]:
#guardo el DF de Y TEST 20%
y_test.to_csv('./datasets/y_precios_test.csv',index=False)